<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectopddm2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPDDM2021">
        <activity
            android:name=".RegistrarLugarAdministrador"
            android:exported="false" />
        <activity
            android:name=".LoginAdministrador"
            android:exported="false" />
        <activity android:name=".PerfilLugarTuristaActivity" />
        <activity android:name=".EditarPublicacionesAdministradorActivity" />
        <activity android:name=".InformacionAppActivity" />
        <activity android:name=".RegistrarLugarAdministradorActivity" />
        <activity android:name=".EditarGaleriaAdministradorActivity" />
        <activity android:name=".EditarLugarAdministradorActivity" />
        <activity android:name=".RegistrarTuristaActivity" />
        <activity android:name=".LoginTuristaActivity" />
        <activity android:name=".TipoUsuarioActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>