<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectopddm2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPDDM2021">
        <activity android:name=".View.PrincipalTuristaActivity"></activity>
        <activity android:name=".View.PrincipalAdministradorActivity" />
        <activity
            android:name=".View.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.TipoUsuarioActivity"
            android:exported="false"
            android:label="Usuario">
        </activity>
        <activity
            android:name=".View.RegistrarLugarAdministrador"
            android:exported="false"
            android:label="Registrar Lugar" />
        <activity
            android:name=".View.LoginAdministrador"
            android:exported="false"
            android:label="Login" />
        <activity android:name=".View.PerfilLugarTuristaActivity" />
        <activity android:name=".View.EditarPublicacionesAdministradorActivity" />
        <activity android:name=".View.InformacionAppActivity" />
        <activity
            android:name=".View.RegistrarLugarAdministradorActivity"
            android:label="Registrar Lugar" />
        <activity android:name=".View.EditarGaleriaAdministradorActivity" />
        <activity android:name=".View.EditarLugarAdministradorActivity" />
        <activity
            android:name=".View.RegistrarTuristaActivity"
            android:label="Registro Turista" />
        <activity
            android:name=".View.LoginTuristaActivity"
            android:label="Login Turista" />
        <activity android:name=".View.MainActivity" />
    </application>

</manifest>